<%= content_for :title, 'Classifications' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active"><%= link_to 'Classifications', classifications_path %></li>
</ol>

<form class="form-inline text-center" role="form" method="get">
  <div class="form-group">
    <label for="q" class="sr-only">Query</label>
    <input type="search" name="q" value="<%= params[:q] %>" class="form-control" placeholder="Enter a search term...">
  </div>

  <input type="submit" class="btn btn-primary" value="Search">
</form>
<hr>

<%= paginate @classifications %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Designation</th>
      <th>Classification</th>
      <th>Number of wines</th>
    </tr>
  </thead>

  <tbody>
    <% @classifications.each do |classification| %>
      <%= content_tag_for :tr, classification do %>
        <td>
          <%= link_to classification.designation.humanize, classification %>
        </td>
        <td>
          <% if classification.classification.present? %>
            <%= link_to classification.classification.humanize, classification %>
          <% else %>
            &mdash;
          <% end %>
        </td>
        <td><%= number_to_human classification.wines.count %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @classifications %>
