<% if @location.present? %>
  <% content_for :title, @location.title %>

  <ol class="breadcrumb">
    <li><%= link_to 'Countries', locations_path %></li>
    <% if @location.parent.try(:parent).present? %>
      <li><%= link_to @location.parent.parent.name, @location.parent.parent %></li>
    <% end %>
    <% if @location.parent.present? %>
      <li><%= link_to @location.parent.name, @location.parent %></li>
    <% end %>
    <li class="active"><%= link_to @location.name, @location %></li>
  </ol>
<% else %>
  <% content_for :title, 'Locations' %>

  <ol class="breadcrumb">
    <li><%= link_to 'Countries', locations_path %></li>
  </ol>
<% end %>

<%= paginate @locations %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of wines</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <%= content_tag_for :tr, location do %>
        <td><%= link_to location.name, location %></td>
        <td><%= number_to_human(location.wines.count) %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @locations %>
